* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



header {
  width: 100%;
  padding: 60px;
  border: none;
  position: fixed;    
  background-color: #2b084d;
  z-index: 10;
}
.icons {
  position: absolute;
  height: 115px;
  width: 180px;
  left: 12%;
  top: 3px;
}

.shop{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1100px;
  top: 30px;
  cursor: pointer;
}

.botao {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%);
}

ul {
  list-style: none;
      
}

li {
  display: inline;
  padding: 5px;
  font-size: 30px;
}



a {
  text-decoration: none;
}

.itens{
  cursor: pointer;
  margin: 4px;
  background-color: white;
  color: #000;
  border: none;
  width: 70px;
  height: 40px;
  border-radius: 25px;
  font-size: 12px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}
.itens:hover{
  background-color: rgb(255, 144, 231);
  color: rgba(20, 20, 20, 0.856);
  border-radius: 10px;
  height: 55px;

}


main{
  position: relative;
  top: 100px;    
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h2{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Recursive', sans-serif;
  font-weight: bold;
}

.banner {
  text-align: center;         
}

.X-Games-Br{
  width: 70%;
  height: 80%;
}


article{
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  position: relative;
}



.divo{
  width: 40%;
  height: 40%;
  border: none;
  margin: 5px;    
  padding: 5px;
  display: inline-block; 
  color: #2b084d;
  
}

.imagemdiv{
  width: 200px;
  height: 200px;    
}


#what{
  width: 70px;
  height: 70px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
}

footer{
  background-color: #2b084d;
  text-align: center;
  width: 100%;
  padding: 50px;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  color: white;
  font-family: 'Roboto', sans-serif;
  
}
